<ngx-spinner bdColor="#1A0A26" size="medium" color="#fff" type="line-scale-party">
    <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<div class="container-fluid">
    <img src="./assets/img/angular_logo.svg" />
    <div class="container1">
        <form>
            <div class="form-group">
                <label for="email">Email address:</label>
                <input type="email" required class="form-control" id="email">
            </div>
            <div class="form-group">
                <label for="pwd">Password:</label>
                <input type="password" required class="form-control" id="pwd">
            </div>
            <div class="checkbox">
                <label><input type="checkbox"> Remember me</label>
            </div>
            <input type="submit" routerLink="dashboard" class="btn my-btn">
        </form>
    </div>
</div>